body {
    background: url("../assets/image/beige-tiles.png");
}
.container {
    margin: 5px auto;
    background-color: #ffffff;
}
.header {
    padding: 10px;
    margin: 10px;
}
.float{
    float: left;
}
.main-content {
    width: 100%;
    min-height: 530px;
    overflow: scroll;
}
.sub-content {
    padding: 15px;
}
.bio-page {
    clear: right;
}
hr{
    border: gray 1px solid ;
}
.footer {
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin: 10px;
    
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    bottom: 5px;
    left: 65px;
    color: #ffffff;
    background-color: #666666;
    font-weight: bold;
}
.size {
    width: 250px;
    height: 200px;
    margin: 5px;
}