body {
    background: url("../assets/image/beige-tiles.png");
}
.container {
    margin: 5px auto;
}
.float{
    float: left;
}
hr{
    border: black 1px solid ;
}
.footer {
    color: #ffffff;
    text-align: center;
    padding: 7px;
    margin: 10px;
}