body {
    background: url("../assets/image/beige-tiles.png");
}
.container {
    margin: 5px auto;
    background-color: #ffffff;
    max-width: 960px;
}

.active {
    color: #4aaaa5;
}
.main-content {
    height: 550px;
    overflow: scroll;
}

.footer {
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
